#caixa-imagem {
    text-align: center;
    margin: 4px;
}
#imagem_semana {
    text-align: center;
    margin: 20px;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 6px;
}
h2{
    text-align: left;
    font-family: Arial;
    margin: 20px;
}
h3{
    text-align: left;
    font-family: Arial;
    margin: 20px;
}
body{
    margin: 0;
    background-color: rgb(251, 216, 222);
    
}
.footer {
    position: ;
    bottom:0;
    width:100%;
    margin: 5px;
    color: rgb(170, 56, 75);
}